<div class="contenedor">
  
  <ion-slides pager="true">
    <ion-slide class="image-slide">
      <img src="../../../assets/icon/favicon.png" alt="">
    </ion-slide>
    <ion-slide class="image-slide">
      <img src="../../../assets/chapters/chapter-1/MB_capitulo1_1.jpg" alt="">
    </ion-slide> <ion-slide class="image-slide">
      <img src="../../../assets/icon/favicon.png" alt="">
    </ion-slide>
  </ion-slides>
  
 
  <app-next-previus></app-next-previus>
  <app-message></app-message>
  <app-progress-bar></app-progress-bar>

</div>